.example-spacer {
    flex: 1 1 auto;
  }

.mat-footer {
    background-color: #3f51b5;
    padding: 10px;
    text-align: center;
}

.footer-text {
  color: white;
}

.menu-item {
  font-size: 16px; /* Adjust the font size as desired */
}

.calorie-mate {
  margin-right: 20px; /* Adjust the value to set the desired spacing */
}

.menu-item {
  margin-right: 20px; /* Adjust the value to set the desired spacing */
}

.menu-item:hover {
  cursor: pointer;
}