.welcome-text {
    font-size: 24px;
    font-weight: bold;
}
  
.info-text {
    font-size: 18px;
    font-style: italic;
}

.bold-text {
    font-weight: bold;
    font-size: 18px;
    color: #333; /* Change the color to your preference */
}

.header-text {
    font-size: 18px;
    font-style: bold;
}

.info-container {
    margin-bottom: 10px;
}

.bmi-text {
    font-weight: bold;
    text-decoration: underline;
}

.low-risk-text {
    color: green;
    font-weight: bold;
}

.moderate-risk-text {
    color: orange;
    font-weight: bold
}

.high-risk-text {
    color: red;
    font-weight: bold
}

.table-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .table-container table {
    width: 100%;
  }
  
  .table-container td {
    width: 50%;
  }

  .custom-panel {
    background-color: #f5f5f5; /* Set the background color */
    color: #333; /* Set the text color */
  }
  
  .custom-header {
    background-color: #e0e0e0; /* Set the header background color */
    color: #333; /* Set the header text color */
  }

  .calories-progress-bar {
    height: 10px;
    background-color: lightgray;
  }
  
  .calories-progress-bar-warn {
    background-color: yellow;
  }
  
  .calories-progress-bar-exceed {
    background-color: red !important;
  }

  .panel-content {
    justify-content: flex-start;
  }
  
  .item-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 16px;
  }

  .item-label, .item-weight {
    text-align: center;
  }
  
  .item-label {
    margin-top: 10px;
  }